In [241]:
#director, lead actors, writers, producers, genre, budget, film length, revenue

In [242]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import re
import urllib.parse
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from pathlib import Path
from io import StringIO

In [243]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [244]:
url = "https://editorial.rottentomatoes.com/guide/oscars-best-and-worst-best-pictures/"
r = requests.get(url)

In [245]:
text = r.text
soup = BeautifulSoup(r.text, 'html.parser')

In [246]:
div_tags = soup.find_all('div', {'class': 'article_movie_title'})

In [247]:
titles = []
for div in div_tags:
    a_tags = div.find_all('a')
    for a in a_tags:
        titles.append(a.get_text().strip())

In [248]:
year_tag = soup.find_all("span", {"class":"subtle start-year"})

years = []
for entry in year_tag:
    year = entry.get_text().strip()
    year = year.replace("(","").replace(")","")
    year = int(year)
    years.append(year)

In [249]:
director_tags = soup.find_all('div', {'class': 'info director'})

In [250]:
directors = []
for d in director_tags:
    directors.append(d.get_text().strip().replace('Directed By:', '').strip())

In [251]:
# actor_tags = soup.find_all('div', {'class': 'info cast'})

In [252]:
# names = []
# for actor in actor_tags:
#     a_tags = a.find_all('a')
#     for a in a_tags:
#         names.append(a.get_text().strip())
    
    # name = a.get_text().strip().replace('Starring:', '').strip()
    # names.append(name)
    # for n in names:
    #     print(n)

In [253]:
# actors = []
# for a in actor_tags:
#     a_tags = a.find_all('a')
#     for b in a_tags:
#         actors.append(b.get_text().strip())

In [254]:
links = []
for div in div_tags:
    link = div.find("a")["href"]
    links.append(link)

In [255]:
distributors = []

for link in links:
    r_sub = requests.get(link)
    soup_sub = BeautifulSoup(r_sub.text)
    try:
        distributor = soup_sub.find("rt-text", {"data-qa": "item-value"}).get_text().strip()
        distributors.append(distributor)
    except:     
        distributors.append("None")
    # try:
    #     producer = soup_sub.find("rt-link", {"href": "/celebrity/"}).get_text().strip()
    #     producers.append(producer)
        
    # except:
    #     producers.append("None")

In [256]:
with open('omdb_api.txt', 'r') as file:
    apikey = file.read()

In [257]:
parameters = {'apikey': apikey, 
             't': 'parasite'}

In [258]:
response = requests.get('http://www.omdbapi.com', params=parameters)
print(response.ok)
print(response.url)

True
http://www.omdbapi.com/?apikey=6e062c76&t=parasite

In [259]:
film_info = response.json()
film_info['Runtime']

'132 min'

In [260]:
runtimes = []
genres = []
writers = []
revenue = []
actors = []
ratings = []

for title in titles:
    parameters = {'apikey': apikey, 
             't': title}
    
    response = requests.get('http://www.omdbapi.com', params=parameters)
    film_info = response.json()

    length = film_info['Runtime']
    runtimes.append(length)

    genre = film_info['Genre']
    genres.append(genre)

    writer = film_info['Writer']
    writers.append(writer)

    box_office = film_info['BoxOffice']
    revenue.append(box_office)

    actor = film_info['Actors']
    actors.append(actor)

    rating = film_info['imdbRating']
    ratings.append(rating)

In [261]:
best_pic_df = pd.DataFrame({'Movie Title': titles,
                          'Year Released': years,
                          "Writer(s)": writers,
                          'Director': directors,
                          'Leading Actors': actors,
                          "Distributor": distributors,
                          "Genre": genres,
                          "IMDb Rating": ratings,
                          "Runtime": runtimes,
                          "Box Office": revenue})
best_pic_df.head()

,Movie Title,Year Released,Writer(s),Director,Leading Actors,Distributor,Genre,IMDb Rating,Runtime,Box Office
0,Parasite,2019,"Bong Joon Ho, Han Jin-won",Bong Joon Ho,"Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong",NEON,"Drama, Thriller",8.5,132 min,"$53,369,749"
1,Casablanca,1942,"Julius J. Epstein, Howard Koch, Murray Burnett",Michael Curtiz,"Humphrey Bogart, Ingrid Bergman, Paul Henreid",Warner Bros. Pictures,"Drama, Romance, War",8.5,102 min,"$4,219,709"
2,On the Waterfront,1954,"Budd Schulberg, Malcolm Johnson, Robert Siodmak",Elia Kazan,"Marlon Brando, Karl Malden, Lee J. Cobb",Columbia Pictures,"Crime, Drama, Thriller",8.1,108 min,N/A
3,All About Eve,1950,"Joseph L. Mankiewicz, Mary Orr",Joseph L. Mankiewicz,"Bette Davis, Anne Baxter, George Sanders",20th Century Fox,Drama,8.2,138 min,"$63,463"
4,Moonlight,2016,"Barry Jenkins, Tarell Alvin McCraney",Barry Jenkins,"Mahershala Ali, Naomie Harris, Trevante Rhodes",A24,Drama,7.4,111 min,"$27,854,932"

In [263]:
# Wikipedia API URL to fetch the page content
URL = "https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture"

# Get the page HTML
response = requests.get(URL)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all tables on the page
tables = soup.find_all("table", {"class": "wikitable"})

In [290]:
movies = []

# Track the most recent year found
current_year = None  

# Iterate through tables
for table in tables:
    # Convert table to DataFrame
    try:
        df = pd.read_html(StringIO(str(table)))[0]
    except:
        continue  # Skip tables that can't be read

    # Check if "Film" is in the column names
    if "Film" not in df.columns:
        continue  # Skip tables without the correct format

    # Process each row in the table
    for row in table.find_all("tr"):
        cols = row.find_all(["th", "td"])  # Extract headers and data cells

        # Check if this row contains the year
        if cols[0].name == "th":  
            current_year = cols[0].text.strip()  # Update the stored year
            cols = cols[1:]  # Remove the year cell from further processing

        if not current_year:
            continue  # Skip rows until a year is found

        # Check if this row has the yellow background (winner)
        is_winner = 'background:#FAEB86' in row.get('style', '')

        # Extract only the FIRST `<a>` tag, which is the movie name
        for col in cols:  
            movie_link = col.find("a")  # Get the first link (movie name)
            if not movie_link:
                continue
            
            movie_name = movie_link.text.strip()
            movie_url = "https://en.wikipedia.org" + movie_link["href"]  # Full Wikipedia link

            # Append to the results
            movies.append((current_year, movie_name, movie_url, is_winner))
            break  # Stop after getting the first `<a>` (ignores producer links)

# Convert to DataFrame
movies_df = pd.DataFrame(movies, columns=["Year", "Movie", "Wikipedia Link", "Winner"])

In [302]:
# total of winners
movies_df['Year']

0      1927
1      1927
2      1927
3      1928
4      1928
5      1928
6      1928
7      1928
8      1929
9      1929
10     1929
11     1929
12     1929
13     1930
14     1930
15     1930
16     1930
17     1930
18     1931
19     1931
20     1931
21     1931
22     1931
23     1931
24     1931
25     1931
26     1932
27     1932
28     1932
29     1932
30     1932
31     1932
32     1932
33     1932
34     1932
35     1932
36     1934
37     1934
38     1934
39     1934
40     1934
41     1934
42     1934
43     1934
44     1934
45     1934
46     1934
47     1934
48     1935
49     1935
50     1935
51     1935
52     1935
53     1935
54     1935
55     1935
56     1935
57     1935
58     1935
59     1935
60     1936
61     1936
62     1936
63     1936
64     1936
65     1936
66     1936
67     1936
68     1936
69     1936
70     1937
71     1937
72     1937
73     1937
74     1937
75     1937
76     1937
77     1937
78     1937
79     1937
80     1938
81     1938
82     1938
83     1938
84     1938
85     1938
86     1938
87     1938
88     1938
89     1938
90     1939
91     1939
92     1939
93     1939
94     1939
95     1939
96     1939
97     1939
98     1939
99     1939
100    1940
101    1940
102    1940
103    1940
104    1940
105    1940
106    1940
107    1940
108    1940
109    1940
110    1941
111    1941
112    1941
113    1941
114    1941
115    1941
116    1941
117    1941
118    1941
119    1941
120    1942
121    1942
122    1942
123    1942
124    1942
125    1942
126    1942
127    1942
128    1942
129    1942
130    1943
131    1943
132    1943
133    1943
134    1943
135    1943
136    1943
137    1943
138    1943
139    1943
140    1944
141    1944
142    1944
143    1944
144    1944
145    1945
146    1945
147    1945
148    1945
149    1945
150    1946
151    1946
152    1946
153    1946
154    1946
155    1947
156    1947
157    1947
158    1947
159    1947
160    1948
161    1948
162    1948
163    1948
164    1948
165    1949
166    1949
167    1949
168    1949
169    1949
170    1950
171    1950
172    1950
173    1950
174    1950
175    1951
176    1951
177    1951
178    1951
179    1951
180    1952
181    1952
182    1952
183    1952
184    1952
185    1953
186    1953
187    1953
188    1953
189    1953
190    1954
191    1954
192    1954
193    1954
194    1954
195    1955
196    1955
197    1955
198    1955
199    1955
200    1956
201    1956
202    1956
203    1956
204    1956
205    1957
206    1957
207    1957
208    1957
209    1957
210    1958
211    1958
212    1958
213    1958
214    1958
215    1959
216    1959
217    1959
218    1959
219    1959
220    1960
221    1960
222    1960
223    1960
224    1960
225    1961
226    1961
227    1961
228    1961
229    1961
230    1962
231    1962
232    1962
233    1962
234    1962
235    1963
236    1963
237    1963
238    1963
239    1963
240    1964
241    1964
242    1964
243    1964
244    1964
245    1965
246    1965
247    1965
248    1965
249    1965
250    1966
251    1966
252    1966
253    1966
254    1966
255    1967
256    1967
257    1967
258    1967
259    1967
260    1968
261    1968
262    1968
263    1968
264    1968
265    1969
266    1969
267    1969
268    1969
269    1969
270    1970
271    1970
272    1970
273    1970
274    1970
275    1971
276    1971
277    1971
278    1971
279    1971
280    1972
281    1972
282    1972
283    1972
284    1972
285    1973
286    1973
287    1973
288    1973
289    1973
290    1974
291    1974
292    1974
293    1974
294    1974
295    1975
296    1975
297    1975
298    1975
299    1975
300    1976
301    1976
302    1976
303    1976
304    1976
305    1977
306    1977
307    1977
308    1977
309    1977
310    1978
311    1978
312    1978
313    1978
314    1978
315    1979
316    1979
317    1979
318    1979
319    1979
320    1980
321    1980
322    1980
323    1980
324    1980
325    1981
326    1981
327    1981
328    1981
329    1981
330    1982
331    1982
332    1982
333    1982
334    1982
335    1983
336    1983
337    1983
338    1983
339    1983
340    1984
341    1984
342    1984
343    1984
344    1984
345    1985
346    1985
347    1985
348    1985
349    1985
350    1986
351    1986
352    1986
353    1986
354    1986
355    1987
356    1987
357    1987
358    1987
359    1987
360    1988
361    1988
362    1988
363    1988
364    1988
365    1989
366    1989
367    1989
368    1989
369    1989
370    1990
371    1990
372    1990
373    1990
374    1990
375    1991
376    1991
377    1991
378    1991
379    1991
380    1992
381    1992
382    1992
383    1992
384    1992
385    1993
386    1993
387    1993
388    1993
389    1993
390    1994
391    1994
392    1994
393    1994
394    1994
395    1995
396    1995
397    1995
398    1995
399    1995
400    1996
401    1996
402    1996
403    1996
404    1996
405    1997
406    1997
407    1997
408    1997
409    1997
410    1998
411    1998
412    1998
413    1998
414    1998
415    1999
416    1999
417    1999
418    1999
419    1999
420    2000
421    2000
422    2000
423    2000
424    2000
425    2001
426    2001
427    2001
428    2001
429    2001
430    2002
431    2002
432    2002
433    2002
434    2002
435    2003
436    2003
437    2003
438    2003
439    2003
440    2004
441    2004
442    2004
443    2004
444    2004
445    2005
446    2005
447    2005
448    2005
449    2005
450    2006
451    2006
452    2006
453    2006
454    2006
455    2007
456    2007
457    2007
458    2007
459    2007
460    2008
461    2008
462    2008
463    2008
464    2008
465    2009
466    2009
467    2009
468    2009
469    2009
470    2009
471    2009
472    2009
473    2009
474    2009
475    2010
476    2010
477    2010
478    2010
479    2010
480    2010
481    2010
482    2010
483    2010
484    2010
485    2011
486    2011
487    2011
488    2011
489    2011
490    2011
491    2011
492    2011
493    2011
494    2012
495    2012
496    2012
497    2012
498    2012
499    2012
500    2012
501    2012
502    2012
503    2013
504    2013
505    2013
506    2013
507    2013
508    2013
509    2013
510    2013
511    2013
512    2014
513    2014
514    2014
515    2014
516    2014
517    2014
518    2014
519    2014
520    2015
521    2015
522    2015
523    2015
524    2015
525    2015
526    2015
527    2015
528    2016
529    2016
530    2016
531    2016
532    2016
533    2016
534    2016
535    2016
536    2016
537    2017
538    2017
539    2017
540    2017
541    2017
542    2017
543    2017
544    2017
545    2017
546    2018
547    2018
548    2018
549    2018
550    2018
551    2018
552    2018
553    2018
554    2019
555    2019
556    2019
557    2019
558    2019
559    2019
560    2019
561    2019
562    2019
563    2020
564    2020
565    2020
566    2020
567    2020
568    2020
569    2020
570    2020
571    2021
572    2021
573    2021
574    2021
575    2021
576    2021
577    2021
578    2021
579    2021
580    2021
581    2022
582    2022
583    2022
584    2022
585    2022
586    2022
587    2022
588    2022
589    2022
590    2022
591    2023
592    2023
593    2023
594    2023
595    2023
596    2023
597    2023
598    2023
599    2023
600    2023
601    2024
602    2024
603    2024
604    2024
605    2024
606    2024
607    2024
608    2024
609    2024
610    2024
Name: Year, dtype: object

In [301]:
# clean the years note: 1933 is missing??
movies_df.loc[0:2, 'Year'] = 1927
movies_df.loc[3:7, 'Year'] = 1928
movies_df.loc[8:12, 'Year'] = 1929
movies_df.loc[13:17, 'Year'] = 1930
movies_df.loc[18:25, 'Year'] = 1931
movies_df.loc[26:35, 'Year'] = 1932

for i in range(36, len(movies_df)):
    value = movies_df['Year'].iloc[i]  # Get the value of the 'YearString' column at the current index

    # Use regex to extract the year (first 4 digits)
    match = re.search(r'\b(\d{4})\b', value)
    
    # If a match is found, directly update the 'Year' column with the extracted year
    if match:
        movies_df.at[i, 'Year'] = match.group(1)
    else:
        movies_df.at[i, 'Year'] = None

In [304]:
movies_df.head()

,Year,Movie,Wikipedia Link,Winner
0,1927,Wings,https://en.wikipedia.org/wiki/Wings_(1927_film),True
1,1927,7th Heaven,https://en.wikipedia.org/wiki/7th_Heaven_(1927...,False
2,1927,The Racket,https://en.wikipedia.org/wiki/The_Racket_(1928...,False
3,1928,The Broadway Melody,https://en.wikipedia.org/wiki/The_Broadway_Melody,True
4,1928,Alibi,https://en.wikipedia.org/wiki/Alibi_(1929_film),False

In [266]:
# budgets = []
# moneys = []
# for movie_url in movies_df["Wikipedia Link"]:
#     response = requests.get(movie_url)
#     soup = BeautifulSoup(response.text, 'html.parser')
#     try:
#         # Find all rows that contain the 'Budget' and 'Box office' data
#         budget_row = soup.find('th', string='Budget').find_next('td')
#         # Extract the text from the corresponding <td> elements
#         budget_value = budget_row.get_text(strip=True)
#         budgets.append(budget_value)
#     except:     
#         budgets.append("None")
#     try:
#         box_office_row = soup.find('th', string='Box office').find_next('td') 
#         box_office_value = box_office_row.get_text(strip=True)
#         moneys.append(box_office_value)
#     except:
#         moneys.append("None")

In [267]:
# moneys

In [268]:
movies_df['Movie'] = movies_df['Movie'].apply(lambda x: str(x) if pd.notna(x) else 'Unknown')

In [312]:
runtimes2 = []
genres2 = []
writers2 = []
revenue2 = []
actors2 = []
ratings2 = []

for index, row in movies_df.iterrows():
    name = row['Movie']
    year = row['Year']

    parameters = {'apikey': apikey, 
                  't': name,
                  'y': year}
    
    response = requests.get('http://www.omdbapi.com', params=parameters)
    movie_info = response.json()

    # length2 = movie_info['Runtime']
    # runtimes2.append(length2)

    # genre2 = movie_info['Genre']
    # genres2.append(genre2)

    # writer2 = movie_info['Writer']
    # writers2.append(writer2)

    # box_office2 = movie_info['BoxOffice']
    # revenue2.append(box_office2)

    # actor2 = movie_info['Actors']
    # actors2.append(actor2)

    # rating2 = movie_info['imdbRating']
    # ratings2.append(rating2)

    length2 = movie_info.get('Runtime', 'N/A')
    runtimes2.append(length2)

    genre2 = movie_info.get('Genre', 'N/A')
    genres2.append(genre2)

    writer2 = movie_info.get('Writer', 'N/A')
    writers2.append(writer2)

    box_office2 = movie_info.get('BoxOffice', 'N/A')
    revenue2.append(box_office2)

    actor2 = movie_info.get('Actors', 'N/A')
    actors2.append(actor2)

    rating2 = movie_info.get('imdbRating', 'N/A')
    ratings2.append(rating2)

In [313]:
runtimes2

['144 min',
 '110 min',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '95 min',
 '113 min',
 'N/A',
 'N/A',
 '90 min',
 'N/A',
 '107 min',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '108 min',
 '90 min',
 '86 min',
 '89 min',
 'N/A',
 'N/A',
 '93 min',
 'N/A',
 'N/A',
 '80 min',
 '92 min',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '98 min',
 'N/A',
 '105 min',
 '109 min',
 '100 min',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A']

In [271]:
movies_df['Runtime'] = runtimes2
movies_df['Genre'] = genres2
movies_df['Writer'] = writers2
movies_df['BoxOffice'] = revenue2
movies_df['Actors'] = actors2
movies_df['IMDbRating'] = ratings2